/* This is the CSS file */
#container {
  color: black;
border-top: 1px solid lightgray;
 border-bottom: 1px solid lightgray;
	padding: 15px;


}

#container:before {
  content: "Before Element ";
color: rgb(255, 0, 0);

}

#container:after {
  content: " After Element";
color: rgb(255, 0, 0);

}

#container:hover {
  color: blue;
}

