/* This is the CSS file */
#container {
  color: black;
border-top: 1px solid lightgray;
 border-bottom: 1px solid lightgray;
	padding: 15px;


}

#container:before {
  content: "Before Element ";
color: red;

}

#container:after {
  content: " After Element";
color: red;

}

#container:hover {
  color: blue;
}

